body {
	background-color: white;
}

#emissions {
	position: relative;
}

#pop {
	position: relative;
}
.otherColor{
  width: 10px;
  height:10px;
  background-color: #A6E3FF;
  display: inline-block;
  border-radius: 10px;
}

.gasColor{
  width: 10px;
  height:10px;
  background-color: #FF988C;
  display: inline-block;
  border-radius: 10px;
}

.liquidColor{
  width: 10px;
  height:10px;
  background-color: #C0B2D8;
  display: inline-block;
  border-radius: 10px;
}

.solidColor{
  width: 10px;
  height:10px;
  background-color: #86FFCD;
  display: inline-block;
  border-radius: 10px;
}

.popColor{
  width: 10px;
  height:10px;
  background-color: #EEB600;
  display: inline-block;
  border-radius: 10px;
}

.dataTitle{
  font-size: 16px;
  margin-bottom: 8px;
}

.dataTitle:first-child{
  margin-top: 0px;
}


.dataValue{
  font-size: 20px;
  margin-top: 0px;
  font-weight: bold;
}


.dataValue:last-child{
  margin-bottom: 0px;
}